@import url("https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Ga+Maamli&family=Jacquarda+Bastarda+9+Charted&family=Margarine&family=Playball&family=Playwrite+IS&display=swap");

body {
  background-color: rgb(133, 55, 0);
  font-family: "Margarine", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#title {
  text-align: center;
  color: beige;
  font-family: "Margarine", sans-serif;
  background-color: black;
}

#container1 {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;

}

#container2 {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
}

.Texts {
  font-family: "Margarine", sans-serif;
  color: black;
}

.image1 {
  size: 150px;

  img{
      width: 90%;
      height: 90%;
  }
}

.image2 {
  size: 150px;

  img{
      width: 90%;
      height: 90%;
  }
}

#menu-wrapper{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.photo{
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 20px;
  background-color: black;
  color: beige;
}

.photo img{
  width: 500px;
  height: 500px;
}

#fooditems{
  background-color: black;
  color: beige;
  text-align: center;
}



